@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
}
menu{
    display: none;
}
main::after{
    content: 'Site criado por André Filipe Domingues - 28/08/2023 - Estudo CursoEmVídeo';
}
