@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.05em;
}
body{
    background-color: lightgray;
}
header{
    background-color: gray;
}
span#burguer{
    background-color: rgb(43, 43, 43);
    width: 96vw;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color: white;
    color: black;
}
header > h1{
    padding: 20px;
    font-size: 1.6em;
    color: white;
}
menu{
    display: block;
    margin: auto;
}
header > menu > ul{
    background-color: rgb(92, 92, 92);
}

header > menu > ul > li > a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}
header > menu > ul > li > a:hover{
    background-color: gray;
}
header > menu > ul > li > a{
    border-bottom: 1px solid white;
}
main{
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

article h2{
    padding-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
}
article p{
    padding-bottom: 15px;
    text-align: justify;
}
