@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

body{
    background-image: linear-gradient(to right,#8AA6A3,#BFBFBF);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #718886;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 1px #0d3530;
    color: #175a53;
}
h2{
    color: #127369;
}
p{
    text-align: justify;
}